<h3>Books</h3>
<%= button_to 'New Book', books_new_url, method: :get %>
<br>
<br>
<% @books.each do |book| %>
  <div class="book_title" style="float:left;">
    <%= book.title %>
  </div>
  <div class="actions" style="float:right;">
    <%= link_to "Show", book_url(book) %>
  </div>
  <hr style="clear:both;">
<% end %>
